.container {
    /*display: grid;*/
    /*grid-template-columns: 200px;*/
    /*grip-auto-rows: minmax(100px,auto)*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:3px;
    width: 90%;
    margin: 7em auto;
    border: 1px solid #999;
}
/*header,*/
/*footer {*/

    /*background-color: lightslategray;*/
    /*border-style: solid;*/
/*}*/

header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: lightslategray;
    border-style: solid;
    border-color: lightslategray;
}

section {
    grid-column: 1/4;
    grid-row: 2;
    background: #272fff;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;

}



article {
    grid-column: 1/3;
    background-color:lightslategrey;
    border-style: solid;
    border-color: lightslategray;
}
aside {
    grid-column: 3;
    grid-row: 3;
    background-color: lightslategray;
    border-style: solid;
    border-color: lightslategray;
}




footer {
    grid-column: 1 / 4;
    grid-row: 4;
    background-color: lightslategray;
    border-style: solid;
    border-color: lightslategray;
}












/*header{*/
    /*background-color: #cac7e3;*/
/*}*/

/*section{*/
    /*background-color: #cac7e3;*/
/*}*/
/*aside{*/
    /*background-color: #cac7e3;*/
/*}*/

/*article{*/
    /*background-color: #cac7e3;*/
/*}*/

/*Footer{*/
    /*background-color: #cac7e3;*/
/*}*/